<h2>Listing Current Projects</h2>

<div class="project_list">
<% @projects.each do |project| %>

  <h3><%= link_to project.title, project_path(project)%></h3>
  
  <p>
    <strong>Brief Description: </strong>
    <%= simple_format(project.brief) %>
  </p>  
  <% unless project.link.blank? %>
  <p>
    <strong>
      Find the website <%= link_to 'HERE', project.link %>
    </strong>
  </p>
  <% end %>
  <p>
    <strong>Status: </strong>
    <%= project.status %>
  </p>
  
  <% if admin? %>
  <p>|
    <%= link_to 'Show', project %> |
    <%= link_to 'Edit', edit_project_path(project) %> |
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> |
  </p>
  
  <% end %>
  
  <hr>

<% end %>
</div>

<br>

<% if admin? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>

<br><br><br><br><br>
<small>
  <% if admin? %>
    <%= link_to "Sign Out", signout_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign In", signin_path %>
  <% end %>
</small>